// Variable Colors
$primaryBackground: #00171F;
$secondaryBackground: #FFFFFF;
$mainColor: #007AE7;
$mainHighlight: #00A8E8;
$mainVisited: #003459;

#score {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    margin: auto;

    button {
        color: $secondaryBackground;
        background-color: $mainColor;
        padding: .5rem 1rem;
        border-radius: 3px;
        box-shadow: 2px 3px 1px darken($mainColor,10%);
        border: 0;
    }
    
    button:hover {
        background-color: darken($mainColor,10%);
        box-shadow: 2px 3px 1px darken($mainColor,20%);
    }

   #scoreDisplay {
        padding: .5rem 0 .5rem 1rem;
    }

    #clickNumber {
        padding: .5rem 1rem .5rem 0;
    }
}

#game {
    width: 100%;
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;

    div {
        width: 16%;
        height: 0;
        padding-bottom: 16%;
        margin: 2%;
        background-color: $mainVisited;
        border-radius: 10px;
        box-shadow: inset .25em .25em 5px $mainColor;
    }

    div:hover {
        background-color: lighten($mainVisited, 10%);
    }

    .selected {
        background-color: $mainHighlight;
        box-shadow: .25em .25em 5px $mainColor;
    }

    .selected:hover {
        background-color: lighten($mainHighlight,10%);
    }
}

#winDiv {
    display: none;
    text-align: center;
    width: 50%;
    position: fixed;
    left: 50%;
    margin: auto 0 auto -30%;
    padding: 5%;
    border: 2px solid $mainHighlight;
    background-color: $secondaryBackground;
}


