// Variable colors
$primaryBackground: #00171F;
$secondaryBackground: #FFFFFF;
$mainColor: #007AE7;
$mainHighlight: #00A8E8;
$mainVisited: #003459;

body {
    background-color: $primaryBackground;

    p {
        font-size: 1rem;
    }
}

/* Styles for the Hearder area */
header {
    color: $secondaryBackground;
    border-bottom: 1rem solid $mainColor;

    h1{
        font-size: 3rem;
        margin: 1rem auto;
        text-align: center;
    }

    a {
        text-decoration: none;
        color: $secondaryBackground;
        display: block;
    }

    ul {
        list-style: none;
        text-align: center;
        padding: 0;
        margin: 1rem 0 0;

        li {
            display: inline-block;
            font-size: 2rem;
            width: 32%;
            background-color: $mainVisited;
        }

        .current {
            background-color: $mainColor;
        }

        li:hover {
            background-color: $mainHighlight;
        }
    }
}

.group:after {
    content: "";
    display: table;
    clear: both;
}

/* Main styles for the Main Body of the site */
#main-body {
    background-color: $secondaryBackground;
    padding: 2rem;

    h3 {
        font-size: 1.5rem;
        margin: 0;
        text-align: center;
    }

    a {
        color: $mainColor;
    }

    a:visited {
        color: $mainVisited;
    }

    a:hover {
        color: $mainHighlight;
    }

   section {
       clear: both;
       max-width: 90%;
       margin: auto;
   }

    ul {
        list-style: none;
        padding: 1rem;
        margin: 0;
        font-size: 1rem;

        li {
            width: 80%;
            text-align: center;
            margin: .5rem auto;
            border: 2px solid $mainColor;
            border-radius: 5px;
            padding: 5px;

            h4 {
                padding: 0;
                margin: 0;
            }

            .list-icon {
                width: 75px;
                height: 75px;
                float: left;
                padding: 0 5px 0 0;
            }
        }

        li:hover {
            border: 2px solid $mainHighlight;
        }
    }
}

/* Styles for the Treehouse pie */
$size-pie: 5rem;
$size-width: 1rem;
$size-inner: $size-pie - $size-width * 2;

.pieChart {
    width: $size-pie + 1rem;
    margin: 0 auto;
    padding: 0;
}

.pie {
    height: $size-pie;
    width: $size-pie;
}

/* Main styles for the Footer */
footer {
    color: $secondaryBackground;
    text-align: center;
}


/* Media Queries */
@media all and (min-width:800px) {
    header {
        clear: both;
        height: 5rem;

        h1 {
            float: left;
            display: block;
            width: 45%;
            clear: right;
        }

        ul {
            display:inline-block;
            width: 50%;
            height: 4rem;

            li {
                margin: 1.6825rem 0 0 0;
            }
        }
    }

    section {
        width: 80%;
        max-width: 600px;
        margin: auto;
    }

    .column {
        width: 45%;
        display: inline-block;
        padding: 0 2%;
        margin: 0;
    }
}
